{% extends 'base.html' %}

{% block content %}
    {% if job %}
        <form action="{{ url_for('jobs.edit', job_id=job.id) }}" method="POST">
            <fieldset>
                <legend>Edit Job</legend>
    {% else %}
        <form action="{{ url_for('jobs.add') }}" method="post">
            <fieldset>
                <legend>Add Job</legend>
    {% endif %}

    <div class="mb-3">
        <label for="name" class="form-label">Job Title:</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ job.name }}" required>
    </div>

    <div class="mb-3">
        <label for="company" class="form-label">Company:</label>
        <input type="text" class="form-control" id="company" name="company" value="{{ job.company }}">
    </div>

    <div class="mb-3">
        <label for="url" class="form-label">Job Link:</label>
        <input type="text" class="form-control" id="url" name="url" value="{{ job.url }}">
    </div>

    <div class="mb-3">
        <label for="salary_expectation" class="form-label">Salary expectation:</label>
        <input type="text" class="form-control" id="salary_expectation" name="salary_expectation" value="{{ job.salary_expectation }}" required>
    </div>

    <div class="mb-3">
        <label for="location" class="form-label">Type:</label>
            <div class="dropdown bootstrap-select show-tick form-control iAuthStatus1">
                <select name="location" id="location" class="form-control selectpicker show-tick iAuthStatus1" data-size="15" data-live-search="true" tabindex="-98" required>
                <option value=""></option>
                <option value="0">Remote</option>
                <option value="1">Hybrid</option>
                <option value="2">on-Site</option>
                </select>
            </div>
    </div>
    {% if job %}
        <div class="button-container">
            <button type="submit" class="btn btn-primary">Update Job</button>
            </form><form action="{{ url_for('jobs.delete', job_id=job.id) }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this job?');">
                <button type="submit" class="btn btn-danger delete-button"><i class="bi bi-trash"></i> Delete Job</button>
            </form>
        </div>
    {% else %}
        <div class="button-container">
            <button type="submit" class="btn btn-primary">Add Job</button>
        </div>
    {% endif %}
            </fieldset>
        </form>
    <style>
        .button-container {
            display: flex;
            gap: 10px; /* Adjust the gap between buttons as needed */
        }
    </style>
{% endblock %}
{% block javascript %}
<script>
    // allow only numbers
    document.getElementById('salary_expectation').addEventListener('input', function() {
        this.value = this.value.replace(/[^0-9]/g, '');
    });

    document.getElementById('location').value="{{ job.location }}";
    se = "{{ job.salary_expectation }}";
    if (se != "")
        document.getElementById('salary_expectation').value="{{ job.salary_expectation }}";

</script>
{% endblock %}
