{% extends 'header.html' %}

{% block content %}

    <div class="container w-50">
        <div class="table-title">
            <div class="row">
                <div class="col">
                    <h2>Manage <b>Users</b>
                    <a href="/users/add" class="btn btn-success"><i class="bi bi-person-add"></i> Add new User</a>
                    </h2>
                </div>
            </div>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th class="col-lg-2">Username</th>
                <th>Active</th>
                <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user['username'] }}</td>
                        <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" {% if user['active'] > 0 %}checked{% endif %} disabled>
                            </div>
                        </td>
                        <td>
                            <a href="/users/{{ user['id'] }}/edit" class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i> Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    </div>
{% endblock %}


